
@media (min-width: 961px) {

  .main-header {
    padding: 45px 60px 0;
    background-image: url(../images/football_1920.jpg);
  }
  
  .logo-text-icon {
    width: 191px;
    height: 52px;
  }

  .main-header-title {
    max-width: 1550px;
    margin: 278px 0 202px;
    font-size: 90px;
    line-height: 1.11;
    letter-spacing: 4.5px;
  }

  .main-header-title_first-row {
    margin-left: 0;
    margin-bottom: -15px;
  }

  .main-header-title_second-row {
    margin-right: 11px;
  }

  .btn-container {
    max-width: 674px;
    margin-bottom: 110px;
  }

  .article-athlets .article-img-container {
    width: 50%;
  }

  .article-players .article-img-container {
    left: 42%;
  }

  .article-athlets .article-img-wrapper {
    width: initial;
    top: 27px;
    left: initial;
  }

  .article-athlets .article-img {
    width: initial;
  }

  .article-players .article-img-wrapper {
    top: 22px;
  }

  .article-players .article-img {
    width: initial;
  }

  .article-title {
    width: 37.1%;
    margin-top: 115px;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 10.42%;
  }

  .article-players .article-title {
    margin-top: 117px;
    margin-bottom: 55px;
    padding-left: 9.7%;
    background-color: transparent;
  }

  .article-subtitle {
    font-size: 36px;
    line-height: 0.94;
    letter-spacing: 1.8px;
  }

  .article-wrapper {
    width: 37.1%;
    padding: 63px 10.42% 55px 197px;
  }

  .article-players .article-wrapper {
    width: 40%;
    padding-top: 50px;
    padding-left: 10%;
  }

  .article-container .article-content:nth-of-type(2) .article-wrapper, .article-container .article-content:nth-of-type(3) .article-wrapper {
    padding-top: 55px;
  }

  .article-athlets .article-container .article-content:nth-of-type(2) .article-header {
    margin-bottom: 23px;
  }

  .article-players .article-container .article-content:nth-of-type(2) .article-wrapper {
    padding-bottom: 83px;
  }

  .article-players .article-container .article-content:nth-of-type(2) .article-header {
    margin-bottom: 30px;
  }

  .article-players .article-container .article-content:nth-of-type(3) .article-header {
    margin-bottom: 25px;
  }

  .article-header {
    margin-bottom: 20px;
  }

  .article-athlets .article-header {
    margin-bottom: 21px;
  }

  .article-text {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  .article-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-block-img-wrapper {
    max-width: 50%;
    height: auto;
    display: flex;
  }

  .article-block-img-wrapper img {
    width: initial;
    height: 38vw;
  }

  .article-block-img-wrapper img {
    width: initial;
    height: 38vw;
    max-height: 730px;
  }

  .article-block-index-number {
    width: 8.75vw;
    max-width: 168px;
    height: 8.07vw;
    max-height: 155px;
    top: 29%;
    left: initial;
    right: -9%;
    bottom: initial;
  }

  .article-block:nth-child(even) .article-block-img-wrapper {
    order: 2;
  }

  .article-block:nth-child(even) .article-block-img-wrapper .article-block-index-number {
    left: -9%;
    right: initial;
  }

  .article-block-content {
    width: 50%;
    margin-left: 6.4vw;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .article-block:nth-of-type(4) .article-block-content {
    margin-left: 9.8%;
    padding-bottom: 0;
  }

  .article-block:nth-of-type(5) .article-block-content {
    padding-bottom: 0;
  }

  .article-block-wrapper {
    width: 77%;
  }

  .article-block:nth-of-type(4) .article-block-wrapper {
    width: 90%;
  }

  .article-block:nth-of-type(4) .article-block-wrapper {
    margin-top: -21px;
  }

  .article-block-title {
    margin: 0 0 6vw;
    padding-top: 11px;
    box-sizing: border-box;
  }

  .article-block:nth-of-type(4) .article-block-title {
    margin-top: 0;
    margin-bottom: 75px;
    padding-top: 0;
  }

  .article-block:nth-of-type(5) .article-block-title {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 109px;
    padding-top: 30px;
    box-sizing: border-box;
  }

  .article-block:nth-of-type(3) .article-block-text {
    margin-top: -10px;
    padding-right: 0;
  }

  .article-block:nth-of-type(4) .article-block-text {
    margin-top: 0;
    transform: translateY(-12px);
  }

  .article-block:nth-of-type(5) .article-block-text {
    margin-top: -20px;
    margin-left: 1px;
    padding-right: 0;
  }

  .main-footer {
    padding-top: 229px;
    background-image: url(../images/game_1920.jpg);
  }

  .main-footer-header {
    max-width: 900px;
    margin-bottom: 151px;
    flex-wrap: nowrap;
  }

  .app-icon {
    margin-right: 30px;
    margin-left: 18px;
    flex-shrink: 0;
  }

  .main-footer-title-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .main-footer-title {
    margin-top: 9px;
  }

  .main-footer-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }

  .btn-container:nth-last-child(2) {
    margin-bottom: 262px;
  }

  .logo-text-icon:nth-last-child(1) {
    margin-bottom: 52px;
  }

  @media (max-width: 1240px) {

    .article-block-title {
      font-size: 5vw;
    }
    
    .article-block-text {
      font-size: 2vw;
    }

    .article-block:nth-child(odd) .article-block-title, .article-block:nth-child(odd) .article-block-text {
      padding-left: 20px;
    }
  }

  @media (max-width: 1342px) {

    .main-header-title {
      max-width: 842px;
    }
  }
}