@media (min-width: 961px) {

  .main-header {
    padding: 45px 190px 0;
    background-image: url(../images/football_1920.jpg);
  }
  
  .logo-text {
    width: 191px;
    height: 52px;
  }

  .main-header-title {
    max-width: 1600px;
    height: 23%;
    font-size: 90px;
    line-height: 1.11;
    letter-spacing: 4.5px;
  }

  .first-row {
    margin-left: 0;
  }

  .btn-container {
    max-width: 674px;
    height: 20.5%;
  }

  .athlets .benefits-img-container {
    width: initial;
    top: 27px;
    left: initial;
  }

  .players .benefits-img-container {
    width: initial;
    top: 23px;
    right: 125px;
  }

  .athlets .benefits-img {
    width: initial;
  }

  .players .benefits-img {
    width: initial;
  }

  .benefits-title {
    width: 37.1%;
    margin-top: 115px;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 10.42vw;
  }

  .players .benefits-title {
    padding-left: 197px;
    margin-bottom: 55px;
  }

  .article-title {
    font-size: 36px;
    line-height: 0.94;
    letter-spacing: 1.8px;
  }

  .article-wrapper {
    width: 37.1%;
    padding: 60px 10.42vw 55px 197px;
  }

  .players .article-wrapper {
    width: 40%;
  }

  .article-text {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  .opportunities-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .opportunities-img-container {
    display: flex;
    max-width: 50%;
    height: auto;
  }

  .opportunities-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0;
  }

  .opportunities-block:nth-child(even) .opportunities-img-container {
    order: 2;
  }

  .opportunities-block:nth-child(even) .opportunities-content {
    order: 1;
  }

  .index-number {
    width: 168px;
    height: 155px;
    top: 0;
    left: -84px;
  }

  .opportunities-block:nth-child(even) .opportunities-content .index-number {
    right: -84px;
    left: initial;
  }

  .opportunities-wrapper {
    width: 64.375%;
  }

  .opportunities-title {
    margin: 0 0 3.9vw;
  }

  .main-footer {
    padding-top: 250px;
  }

  .main-footer-header {
    max-width: 900px;
    height: 49.4%;
    flex-wrap: nowrap;
  }

  .app-icon {
    flex-shrink: 0;
    margin-right: 37px;
  }

  .footer-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: initial;
  }

  .footer-title {
    margin-bottom: 15px;
  }

  .footer-text {
    font-size: 30px;
    line-height: 1.13;
  }

  .btn-container:nth-last-child(2) {
    height: 63%;
    align-items: flex-start;
  }

  .logo-text-container:nth-last-child(1) {
    height: 19.3%;
    padding: 0;
    align-items: flex-start;
  }
}