
.main-header {
  width: 100%;
  padding: 33px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color:  #090a36;
}

.main-header::after {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #090a36;
}

.logo-text-icon-container {
  position: relative;
  z-index: 4;
}

.logo-text-icon {
  width: 133px;
  height: 36px;
  position: relative;
  z-index: 8;
}

.main-header-title {
  width: 100%;
  max-width: 280px;
  margin: 132px 0 86px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header-title_first-row {
  display: block;
  margin-bottom: 21px;
  font-size: inherit;
}

.main-header-title_second-row {
  margin-left: 44px;
  display: flex;
  align-self: flex-end;
  font-size: inherit;
}

.btn-container {
  width: 100%;
  max-width: 280px;
  margin-bottom: 84px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.btn-link {
  width: 100%;
  max-width: 280px;
  height: 35px;
  position: relative;
  z-index: 2;
}

.btn-link:first-child {
  margin-bottom: 14px;
}

.btn {
  width: 100%;
  max-width: 280px;
  height: 35px;
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 8px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 35px;
  background-color: #5e3db3;
  
}

.btn-wrapper {
  width: 115px;
  display: flex;
  justify-content: flex-start;
}

.btn-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-logo {
  width: 22px;
  margin-right: 10px;
}

.btn-text {
  display: block;
  text-align: left;
}

.app-store-btn .btn-text {
  width: 83px;
}

.google-play-btn .btn-text {
  width: 70px;
}

.store-name {
  font-weight: 700;
}

.article-title {
  margin: 20px 0 14px;
  padding-left: 20px;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #e7e7e7;
}

.article-img-wrapper {
  height: 224px;
  display: flex;
  justify-content: center;
}

.article-athlets .article-img {
  width: 175px;
}

.article-players .article-img {
  width: 302px;
}

.article-content {
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 51px;
  box-sizing: border-box;
}

.article-content:nth-child(1) {
  padding-top: 78px;
  background-color: #fafafa;
}

.article-content:nth-child(2) {
  background-color: #f5f4f9;
}

.article-content:nth-child(3) {
  color: #ffffff;
  background-color: #5e3db3;
}

.article-players .article-content:nth-child(3) {
  background-color: #090a36;
}

.article-header {
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
}

.article-subtitle {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.48;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  color: #c1c1c1;
}

.article-index-number {
  margin-right: 11px;
  position: relative;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.7px;
  vertical-align: text-top;
  color: #000000;
}

.article-players .article-content:nth-child(3) .article-index-number {
  color: #8761e0;
}

.article-index-number::before {
  content: "";
  width: 17px;
  height: 4px;
  position: absolute;
  bottom: -4px;
  border-radius: 1.5px;
  background-color: #5e3db3;
}

.article-content:nth-child(3) .article-index-number::before {
  background-color: #ffffff;
}

.article-text {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.75px;
}

.article-block-img-wrapper {
  position: relative;
  width: 100%;
}

.article-block-img {
  width: 100%;
}

.article-block-index-number {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: -12px;
  text-align: center;
  background-color: #5e3db3;
}

.article-block-index-number-container span {
  position: relative;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.43;
  letter-spacing: 0.7px;
  color: #ffffff;
}

.article-block-index-number-container span::before {
  content: "";
  width: 17px;
  height: 4px;
  opacity: 0.3;
  position: absolute;
  bottom: -6px;
  border-radius: 1.5px;
  background-color: #ffffff;
}

.article-block-content {
  padding: 0 20px 75px;
  box-sizing: border-box;
}

.article-block-title {
  margin: 30px 0 18px;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #e7e7e7;
}

.article-block-text {
  line-height: 1.25;
  letter-spacing: 0.8px;
}

.main-footer {
  width: 100%;
  padding: 99px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../images/game_767.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color:  #090a36;
  overflow: hidden;
}
  
.main-footer::after {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #090a36;
}

.main-footer-header {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-icon {
  width: 72px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  border-radius: 25%;
  background-image: linear-gradient(#7751db, #50329c);
  overflow: hidden;
}

.logo {
  height: 50px;
}

.main-footer-title-container {
  margin-top: 45px;
}

.main-footer-title {
  position: relative;
  z-index: 6;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer-subtitle {
  position: relative;
  z-index: 7;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: #9b8dc3;
}

.btn-container:nth-last-child(2) {
  margin: 76px 0 82px;
}

.logo-text-icon:nth-last-child(1) {
  margin-bottom: 10px;
}

@media (max-width: 319px) {

  .main-header-title {
    font-size: 8.75vw;
  }

  .article-title {
    font-size: 15.625vw;
  }

  .article-img-wrapper {
    height: 70vw;
  }

  .article-athlets picture {
    width: 50%
  }

  .article-athlets .article-img {
    width: 100%;
  }

  .article-players picture {
    width: 100%
  }
  
  .article-players .article-img {
    width: 100%;
  }

  .article-subtitle {
    font-size: 7.1875vw;
  }

  .main-footer-title {
    font-size: 10vw;
  }

  .main-footer-subtitle {
    font-size: 4.375vw;
  }
}