
@media (min-width: 641px) {

  .main-header {
    padding: 40px 58px 0;
    background-image: url(../images/football_1280.jpg);
  }

  .logo-text-icon {
    width: 205px;
    height: 56px;
  }

  .main-header-title {
    width: 100%;
    max-width: 650px;
    margin: 155px 0 316px;
    justify-content: flex-start;
    font-size: 63.5px;
    letter-spacing: 3.18px;
  }
  
  .main-header-title_first-row {
    margin-left: 32px;
    margin-bottom: 15px;
  }

  .main-header-title_second-row {
    margin-left: 137px;
  }

  .btn-container {
    max-width: 658px;
    margin-bottom: 91px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .btn-link {
    width: 47.8%;
    max-width: 312px;
    height: 77px;
  }

  .btn-link:first-child {
    margin-bottom: 0;
  }

  .btn {
    max-width: 312px;
    height: 77px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    box-shadow: 8px 13.9px 24px 0 #0a0e34;
  }

  .btn-wrapper {
    width: initial;
  }

  .btn-logo {
    width: 40px;
    margin-right: 29px;
  }
  
  .app-store-btn .btn-text {
    width: 150px;
  }
  
  .google-play-btn .btn-text {
    width: 104px;
  }

  .article {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .article-title-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .article-players .article-title-container {
    justify-content: flex-start;
  }

  .article-title {
    width: 62.11%;
    margin-top: 82px;
    padding-left: 30px;
    font-size: 80px;
    line-height: 0.75;
    }

  .article-img-container {
    height: 100%;
    position: absolute;
  }

  .article-img-wrapper {
    height: 100%;
    position: absolute;
  }

  .article-athlets .article-img-container {
    width: 35%;
  }

  .article-athlets .article-img-wrapper {
    top: 94px;
    right: 0;
  }

  .article-athlets .article-img {
    width: 450px;
  }

  .article-players .article-img-container {
    width: 57%;
    left: 43%;
    overflow: hidden;
  }

  .article-players .article-img-wrapper {
    top: 40px;
    left: 0;
    right: initial;
  }

  .article-players .article-img {
    width: 690px;
  }

  .article-container {
    width: 100%;
  }

  .article-header {
    margin-bottom: 18px;
  }

  .article-subtitle {
    font-size: 32px;
    letter-spacing: 1.6px;
  }

  .article-index-number {
    font-size: 18px;
    line-height: 1.89;
    letter-spacing: 0.9px;
  }

  .article-index-number::before {
    width: 21px;
    height: 5px;
    bottom: -7px;
    border-radius: 2px;
  }

  .article-content {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .article-content:nth-child(1) {
    padding-top: 0;
    background-color: transparent; 
  }

  .article-players .article-content {
    justify-content: flex-start;
  }

  .article-wrapper {
    width: 57.7%;
    padding: 44px 33px 36px 33px;
  }

  .article-players .article-wrapper {
    width: 53%;
  }

  .article-text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.8px;
  }
  
  .article-block-index-number {
    width: 116px;
    height: 116px;
    left: 33px;
    bottom: -36px;
  }
  
  .article-block-index-number-container span {
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: 1.2px;
  }
  
  .article-block-index-number-container span::before {
    width: 28px;
    height: 5px;
    opacity: 0.3;
    bottom: -10px;
    border-radius: 2px;
  }

  .article-block-content {
    padding: 0 35px 95px 30px;
    box-sizing: border-box;
    position: relative;
  }
  
  .article-block-title {
    margin: 90px 0 37px;
    font-size: 80px;
    line-height: 1;
    letter-spacing: normal;
  }
  
  .article-block-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 1.2px;
  }

  .main-footer {
    padding: 126px 30px 0;
    background-image: url(../images/game_1280.jpg);
  }

  .main-footer-header {
    max-width: 705px;
    margin-bottom: 277px;
  }

  .app-icon {
    width: 130px;
    height: 137px;
  }

  .logo {
    height: 87px;
  }

  .main-footer-title-container {
    margin-top: 70px;
  }

  .main-footer-title {
    font-size: 79px;
    line-height: 1;
    letter-spacing: 4px;
  }
  
  .main-footer-subtitle {
    font-size: 36.5px;
    line-height: 1.64;
    letter-spacing: normal;
  }

  .btn-container:nth-last-child(2) {
    margin: 0 0 55px;
  }

  .logo-text-icon:nth-last-child(1) {
    margin-bottom: 24px;
  }

  @media (max-width: 761px) {

    .main-footer-title {
      font-size: 10vw;
      letter-spacing: 0.5vw;
    }
    
    .main-footer-subtitle {
      font-size: 4.75vw;
    }
  }
}