body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

picture {
  width: inherit;
  height: inherit;
  font-size: 0;
}

path {
  fill: #ffffff;
}

.btn:hover {
  color: #5e3db3;
  background-color: #ffffff;
}

.btn:hover .btn-content .btn-logo path {
  fill: #5e3db3;
}

.btn:focus {
  outline: none;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}